[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-bigquery = "==0.21.0"
sqlfluff = "==0.7.1"
sqlfluff-templater-dbt = "==0.7.1"

[dev-packages]

[requires]
python_version = "3.9"
